<h1>Listing image_tags</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @image_tags.each do |image_tag| %>
      <tr>
        <td><%= image_tag.name %></td>
        <td><%= link_to 'Show', image_tag %></td>
        <td><%= link_to 'Edit', edit_image_tag_path(image_tag) %></td>
        <td><%= link_to 'Destroy', image_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image tag', new_image_tag_path %>
