<h1>Listing fictions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fictions.each do |fiction| %>
      <tr>
        <td><%= fiction.name %></td>
        <td><%= link_to 'Show', fiction %></td>
        <td><%= link_to 'Edit', edit_fiction_path(fiction) %></td>
        <td><%= link_to 'Destroy', fiction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fiction', new_fiction_path %>
