<h1>Listing image_series</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @image_series.each do |image_series| %>
      <tr>
        <td><%= image_series.name %></td>
        <td><%= link_to 'Show', image_series %></td>
        <td><%= link_to 'Edit', edit_image_series_path(image_series) %></td>
        <td><%= link_to 'Destroy', image_series, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image serie', new_image_series_path %>
